.bg-color{
  background-color: #FFF200;
}

/* Remove the default margin and padding from the body. */
body {
    
    padding: 0;
    margin: 0;
    background-color: #FFF200;
    color:#231F20;
    font: helvetica;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 90%;
  }
  
  /* Legend specific */
  .legend {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
